{{>userHeader}}
{{>adminDashboardSide}}

<style>
    .image-preview-container {
        display: flex;
        margin-bottom: 20px;
        width: 200px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .image-preview {
        height: 200px;
        width: 300px;
        margin-bottom: 10px;
        margin-left: 2rem;
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        margin: 0 10px 10px 0;
    }
</style>


<div id="content-wrapper" class="justify-content-center m-5">
    <div id="content">
        <form id="updateForm" enctype="multipart/form-data">
            <input type="text" name="id" value="{{room._id}}" style="display: none;">
            <div class="form-row m-4">
                <div class="form-group col-md-6">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price" value="{{room.price}}">
                    <span id="priceError" class="text-danger error-msg"></span>
                </div>

                <div class="form-group col-md-3">
                    <label>Max Adults</label>
                    <input type="tel" class="form-control" name="adults" value="{{room.adults}}">
                    <span id="adultsError" class="text-danger error-msg"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Max Childrents</label>
                    <input type="tel" class="form-control" name="childrents" value="{{room.childrents}}">
                    <span id="childrentsError" class="text-danger error-msg"></span>
                </div>
            </div>

            <div class="form-row m-4">
                <div class="form-group col-md-4">
                    <label>Bed Type</label>
                    <input type="text" class="form-control" name="bed" value="{{room.bed}}">
                    <span id="bedError" class="text-danger error-msg"></span>
                </div>

                <div class="dropdown form-group col-md-4">
                    <select id="dropdownSelect" class="form-group col-md-6" name="category">
                        <option value="" disabled selected>Select Category</option>
                        {{#each category}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                        <option value="new">New</option>
                    </select>

                    <div id="inputFieldContainer">
                        <input type="text" id="newInputField" name="newCatgory" placeholder="Enter a new Type">
                    </div>
                </div>

                <div class="dropdown form-group col-md-4">
                    <select id="dropdownSelect" class="form-group col-md-6" name="Cancellation">
                        <option value="" disabled selected>Select cancellation</option>
                        {{#each cancellation}}
                        <option value="{{this.cancellation}}">{{this.cancellation}}</option>
                        {{/each}}
                        <option value="new">New</option>
                    </select>
                </div>
            </div>

            <div class="form-row m-4">

                <div class="form-group col-md-6">
                    <label for="description">Rooms Description</label>
                    <textarea id="description" class="form-control" name="description"
                        style="height: 150px; resize: vertical;">{{room.description}}</textarea>
                    <span id="descriptionError" class="text-danger error-msg"></span>
                </div>

                <div class="m-3">
                    <p>Available Amenities</p>
                    {{#each room.amenities}}
                    <input type="checkbox" name="oldAmenities" value="{{this}}">
                    <span class="me-3">{{this}}</span>
                    {{/each}}
                </div>

                <div class="m-3">
                    <p>Add More</p>
                    {{#each amenities}}
                    <input type="checkbox" name="newAmenities" value="{{this.amenities}}">
                    <span class="me-3">{{this.amenities}}</span>
                    {{/each}}
                </div>
            </div>
    </div>



    <div class="image-preview-container">
        {{#each room.images}}
        <div>
            <img class="image-preview" src="{{this.url}}" alt="Image Preview">
            <input type="checkbox" name="selectedImages" value="{{this.url}}">
        </div>
        {{/each}}
    </div>

    <div class="image-preview-container" id="newImagePreviewContainer"></div>

    <input type="file" id="imageInput" name="image" multiple>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{{>userFooter}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/dist/js/alertify.min.js"></script>

<script>

    const handleSubmit = async (event) => {
        event.preventDefault();

        try {
            const formData = new FormData(event.target)
            resetError()

            const response = await axios.post('/owner/room/edit', formData);
            if (response.status === 200) {
                Notification()
                function Notification() {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Room updated Successfully",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                }
                window.location.href = '/owner/rooms'
            }
        } catch (error) {

            if (error.response.status == 400) {
                const errors = error.response.data.error;
                Object.keys(errors).forEach((key) => {
                    let element = document.getElementById(key).textContent = errors[key];
                });
            }
        }
    };


    document.getElementById('updateForm').addEventListener('submit', handleSubmit);

    function resetError() {
        const errorElements = document.querySelectorAll(".error-msg");
        errorElements.forEach((element) => {
            element.textContent = "";
        });
    }
</script>

{{!-- NEW CATEGORY --}}

<script>

    window.addEventListener('DOMContentLoaded', function () {
        var inputFieldContainer = document.getElementById('inputFieldContainer');
        inputFieldContainer.style.display = 'none';

        document.getElementById('dropdownSelect').addEventListener('change', function () {
            var selectedOption = this.value;

            if (selectedOption === 'new') {
                inputFieldContainer.style.display = 'block';
            } else {
                inputFieldContainer.style.display = 'none';
            }
        });
    });


</script>


<script>
    const errorMessage = "{{errorMessage}}";
    if (errorMessage) {
        alertify.alert(errorMessage, function () {
            alertify.message('OK');
        });
    }
</script>