{{>userHeader}}

<body id="page-top">
    <div id="wrapper">
        {{>adminDashboardSide}}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-between">
                    <form action="">

                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <a href="/owner/addhotel" class="h3 mb-0 text-gray-800 text-light m-3 btn btn-primary">
                        Add Hotel</a>
                </nav>


                <div class="container-fluid">


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">HOTELS</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Revenue</th>
                                            <th>No of Rooms</th>
                                            <th>No of Visitors</th>
                                            <th>Is Available</th>
                                            <th>More</th>
                                            {{!-- <th>Hotels</th> --}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each hotel}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.revenu}}</td>
                                            <td>{{this.rooms}}</td>
                                            <td>{{this.visitors}}</td>
                                            {{#if this.is_Available}}
                                            <td>
                                                <form action="/owner/hotel/edit?id={{this._id}}" method="post">
                                                    <button class="btn btn-primary btn-block" type="submit"
                                                        name="false">Available</button>
                                                </form>
                                            </td>
                                            {{else}}
                                            <td>
                                                <form action="/owner/hotel/edit?id={{this._id}}" method="post">
                                                    <button class="btn btn-warning  btn-block" type="submit"
                                                        name="true">Not Available</button>
                                                </form>
                                            </td>
                                            {{/if}}
                                            <td>
                                                <a href="/owner/hotel/view?id={{this.id}}"
                                                    class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

</html>


{{>userFooter}}