{{> userHeader}}
{{> adminDashboardSide}}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-between">
                </nav>


                <div class="container">


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/owner/rooms" class="m-0 font-weight-bold text-primary">Rooms</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Hotel Name</th>
                                            <th>Category</th>
                                            <th>Boosted</th>
                                            <th>Is Blocked</th>
                                            <th>Is Available</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each rooms}}
                                        <tr>
                                            <td>{{this.hotel.name}}</td>
                                            <td>{{this.category.name}}</td>
                                            <td>{{this.booste}}</td>
                                            <td>{{this.is_block}}</td>

                                            {{#if this.is_Available}}
                                            <td>
                                                <div id="availabilityButton{{this._id}}">
                                                    <button class="btn btn-primary btn-block"
                                                        onclick="toggleAvailability('{{this._id}}', false)">Available</button>
                                                </div>
                                            </td>
                                            {{else}}
                                            <td>
                                                <div id="availabilityButton{{this._id}}">
                                                    <button class="btn btn-warning btn-block"
                                                        onclick="toggleAvailability('{{this._id}}', true)">Not
                                                        Available</button>
                                                </div>
                                            </td>
                                            {{/if}}
                                            <td>
                                                <a href="/owner/room/edit?id={{this._id}}"
                                                    class="btn btn-block btn-primary">Edit</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

</html>


{{>userFooter}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    const errorMessage = "{{errorMessage}}";
    if (errorMessage) {
        alertify.alert(errorMessage, function () {
            alertify.message('OK');
        });
    }

    function toggleAvailability(roomId, availabilityStatus) {
        event.preventDefault();
        axios.post('/owner/room/block?id=' + roomId, {
            availability: availabilityStatus
        })
            .then(function (response) {
                // Handle the response here, if needed
                const availabilityButton = document.getElementById('availabilityButton' + roomId);
                if (availabilityStatus) {
                    availabilityButton.innerHTML = '<button class="btn btn-primary btn-block" onclick="toggleAvailability(\'' + roomId + '\', false)">Available</button>';
                } else {
                    availabilityButton.innerHTML = '<button class="btn btn-warning btn-block" onclick="toggleAvailability(\'' + roomId + '\', true)">Not Available</button>';
                }
            })
            .catch(function (error) {
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
                console.log(error);
            });
    }
</script>