{{>userHeader}}
{{>adminDashboardSide}}


<style>
    /* Additional styles for the admin hotel view */

    .container-fluid {
        padding: 20px;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background-color: #f8f9fc;
        border-bottom: none;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 20px;
    }

    .table {
        margin-bottom: 0;
    }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .btn-primary {
        background-color: #3366ff;
        border-color: #3366ff;
    }

    .btn-primary:hover {
        background-color: #254eda;
        border-color: #254eda;
    }

    .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
    }

    .btn-warning:hover {
        background-color: #d39e00;
        border-color: #d39e00;
    }

    .btn-block {
        display: block;
        width: 100%;
    }

    /* Animation for table rows */
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .table tbody tr {
        animation: fade-in 0.3s ease-in-out;
    }
</style>



<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-between">
                    <form onsubmit="searchHotels(event)">

                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2" name="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <a href="/owner/addhotel" class="h3 mb-0 text-light m-3 btn btn-primary">Add Hotel</a>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/owner/hotels" class="m-0 font-weight-bold text-primary">HOTELS</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Revenue</th>
                                            <th>No of Rooms</th>
                                            <th>Type</th>
                                            <th>Is Blocked</th>
                                            <th>Is Available</th>
                                            <th>More</th>
                                            <th>Add Rooms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each hotel}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.revenue}}</td>
                                            <td>{{this.rooms}}</td>
                                            <td>{{this.type.name}}</td>
                                            <td>{{this.is_block}}</td>
                                            <td>
                                                <div id="availabilityButton{{this._id}}">
                                                    {{#if this.is_Available}}
                                                    <button class="btn btn-primary btn-block"
                                                        onclick="toggleAvailability('{{this._id}}', false)">Available</button>
                                                    {{else}}
                                                    <button class="btn btn-warning btn-block"
                                                        onclick="toggleAvailability('{{this._id}}', true)">Not
                                                        Available</button>
                                                    {{/if}}
                                                </div>
                                            </td>
                                            <td>
                                                <a href="/owner/hotel/update?id={{this._id}}"
                                                    class="btn btn-primary">Edit</a>
                                            </td>
                                            <td>
                                                <a href="/owner/hotel/addrooms?id={{this._id}}"
                                                    class="btn btn-primary">Add</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>


{{>userFooter}}

<script>
    function toggleAvailability(hotelId, availabilityStatus) {
        event.preventDefault();
        axios.post('/owner/hotel/block?id=' + hotelId, {
            availability: availabilityStatus
        })
            .then(function (response) {
                // Handle the response here, if needed
                const availabilityButton = document.getElementById('availabilityButton' + hotelId);
                if (availabilityStatus) {
                    availabilityButton.innerHTML = '<button class="btn btn-warning btn-block" onclick="toggleAvailability(\'' + hotelId + '\', false)">Available</button>';
                } else {
                    availabilityButton.innerHTML = '<button class="btn btn-primary btn-block" onclick="toggleAvailability(\'' + hotelId + '\', true)">Not Available</button>';
                }
            })
            .catch(function (error) {
                // Handle error here, if needed
                console.log(error);
            });
    }

    function searchHotels(event) {
        event.preventDefault();
        const searchInput = document.querySelector('input[name="search"]').value;

        // Send search request to the server
        axios.post('/owner/hotel/search', {
            search: searchInput
        })
            .then(function (response) {
                // Handle the response here
                const searchResults = response.data;
                updateTable(searchResults);
            })
            .catch(function (error) {
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
                console.log(error);
            });
    }

    function updateTable(hotels) {
        const tableBody = document.querySelector('#dataTable tbody');
        tableBody.innerHTML = '';

        hotels.forEach(function (hotel) {
            const row = document.createElement('tr');

            const nameCell = document.createElement('td');
            nameCell.textContent = hotel.name;
            row.appendChild(nameCell);

            const revenueCell = document.createElement('td');
            revenueCell.textContent = hotel.revenue;
            row.appendChild(revenueCell);

            const roomsCell = document.createElement('td');
            roomsCell.textContent = hotel.rooms;
            row.appendChild(roomsCell);

            const typeCell = document.createElement('td');
            typeCell.textContent = hotel.type.name;
            row.appendChild(typeCell);

            const isBlockedCell = document.createElement('td');
            isBlockedCell.textContent = hotel.is_block;
            row.appendChild(isBlockedCell);

            const availabilityCell = document.createElement('td');
            const availabilityButton = document.createElement('button');
            availabilityButton.id = 'availabilityButton' + hotel._id;
            availabilityButton.className = hotel.is_Available ? 'btn btn-primary btn-block' : 'btn btn-warning btn-block';
            availabilityButton.textContent = hotel.is_Available ? 'Available' : 'Not Available';
            availabilityButton.addEventListener('click', function () {
                toggleAvailability(hotel._id, !hotel.is_Available);
            });
            availabilityCell.appendChild(availabilityButton);
            row.appendChild(availabilityCell);

            const moreCell = document.createElement('td');
            const moreLink = document.createElement('a');
            moreLink.href = '/owner/hotel/update?id=' + hotel._id;
            moreLink.className = 'btn btn-primary';
            moreLink.textContent = 'Edit';
            moreCell.appendChild(moreLink);
            row.appendChild(moreCell);

            const addRoomsCell = document.createElement('td');
            const addRoomsLink = document.createElement('a');
            addRoomsLink.href = '/owner/hotel/addrooms?id=' + hotel._id;
            addRoomsLink.className = 'btn btn-primary';
            addRoomsLink.textContent = 'Add';
            addRoomsCell.appendChild(addRoomsLink);
            row.appendChild(addRoomsCell);

            tableBody.appendChild(row);
        });
    }
</script>