{{> userHeader}}
{{> dashbordSide}}

<style>
    <style>.boost-container {
        display: flex;
        align-items: center;
    }

    .boost-arrow {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .boost-value {
        margin: 0 10px;
    }
</style>



<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-between">
                </nav>

                <div class="container">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">Rooms</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Hotel Name</th>
                                            <th>Category</th>
                                            <th>Boosted</th>
                                            <th>Is Available</th>
                                            <th>Block</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each rooms}}
                                        <tr>
                                            <td>{{this.hotel.name}}</td>
                                            <td>{{this.category.name}}</td>
                                            <td>
                                                <div class="boost-container">
                                                    <button class="boost-arrow increment"
                                                        onclick="changeBoost('{{this._id}}', 'increment')">&#9650;</button>
                                                    <span id="boostValue{{this._id}}"
                                                        class="boost-value">{{this.booste}}</span>
                                                    <button class="boost-arrow decrement"
                                                        onclick="changeBoost('{{this._id}}', 'decrement')">&#9660;</button>
                                                </div>
                                            </td>
                                            <td>{{this.is_Available}}</td>

                                            <td>
                                                <div id="blockButton{{this._id}}">
                                                    {{#if this.is_block}}
                                                    <a href="#" class="btn btn-primary btn-block"
                                                        onclick="toggleBlock('{{this._id}}', false)">Unblock</a>
                                                    {{else}}
                                                    <a href="#" class="btn btn-warning btn-block"
                                                        onclick="toggleBlock('{{this._id}}', true)">Block</a>
                                                    {{/if}}
                                                </div>
                                            </td>

                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

{{> userFooter}}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    function toggleBlock(roomId, blockStatus) {
        axios.post('/admin/owner/hotel/room/edit?id=' + roomId, {
            availability: blockStatus
        })
            .then(function (response) {
                // Handle the response here, if needed
                const blockButton = document.getElementById('blockButton' + roomId);
                if (blockStatus) {
                    blockButton.innerHTML = '<a href="#" class="btn btn-primary btn-block" onclick="toggleBlock(\'' + roomId + '\', false)">Unblock</a>';
                } else {
                    blockButton.innerHTML = '<a href="#" class="btn btn-warning btn-block" onclick="toggleBlock(\'' + roomId + '\', true)">Block</a>';
                }
            })
            .catch(function (error) {
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
                console.log(error);
            });
    }
</script>

<script>
    // ...

    function changeBoost(hotelId, action) {
        event.preventDefault();
        const boostValueElement = document.getElementById('boostValue' + hotelId);
        let boostValue = parseInt(boostValueElement.innerHTML);

        if (action === 'increment') {
            boostValue++;
        } else if (action === 'decrement') {
            if (boostValue > 0) {
                boostValue--;
            }
        }

        axios.post('/admin/room/boost?id=' + hotelId, {
            boost: boostValue
        })

            .then(function (response) {
                // Handle the response here, if needed
                boostValueElement.innerHTML = boostValue;
            })
            .catch(function (error) {
                console.log(error);
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
            });
    }

    // ...
</script>