{{>userHeader}}
{{>dashbordSide}}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav
                    class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow justify-content-between">
                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h4 class="m-0 font-weight-bold text-primary">HOTELS</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Revenue</th>
                                            <th>No of Rooms</th>
                                            <th>Type</th>
                                            <th>Is Available</th>
                                            <th>Block</th>
                                            <th>View Rooms</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each hotel}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.revenue}}</td>
                                            <td>{{this.rooms}}</td>
                                            <td>{{this.type.name}}</td>
                                            <td>{{this.is_Available}}</td>
                                            <td>
                                                <div id="blockButton{{this._id}}">
                                                    {{#if this.is_block}}
                                                    <button class="btn btn-warning btn-block"
                                                        onclick="toggleBlock('{{this._id}}', false)">Unblock</button>
                                                    {{else}}
                                                    <button class="btn btn-primary btn-block"
                                                        onclick="toggleBlock('{{this._id}}', true)">Block</button>
                                                    {{/if}}
                                                </div>
                                            </td>
                                            <td>
                                                <a href="/admin/owner/hotel/rooms?id={{this._id}}"
                                                    class="btn btn-primary">Rooms</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>

</html>


{{>userFooter}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });

    function toggleBlock(hotelId, blockStatus) {
        event.preventDefault();
        axios.post('/admin/hotel/block?id=' + hotelId, {
            availability: blockStatus
        })
            .then(function (response) {
                // Handle the response here, if needed
                const blockButton = document.getElementById('blockButton' + hotelId);
                if (blockStatus) {
                    blockButton.innerHTML = '<button class="btn btn-primary btn-block" onclick="toggleBlock(\'' + hotelId + '\', false)">Unblock</button>';
                } else {
                    blockButton.innerHTML = '<button class="btn btn-warning btn-block" onclick="toggleBlock(\'' + hotelId + '\', true)">Block</button>';
                }
            })
            .catch(function (error) {
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
                console.log(error);
            });
    }


</script>