{{>userHeader}}

<body id="page-top">

    <div id="wrapper">

        {{>dashbordSide}}

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <form action="/admin/owner" method="post"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                name="search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    search
                                </button>
                            </div>
                        </div>
                    </form>

                </nav>

                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">ADMINS</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone No</th>
                                            <th>Blocked</th>
                                            <th>Hotels</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each owner}}
                                        <tr>
                                            <td>{{this.name}}</td>
                                            <td>{{this.email}}</td>
                                            <td>{{this.phone}}</td>
                                            {{#if this.is_block}}
                                            <td>
                                                <form action="/admin/owners/edit?id={{this._id}}" method="post">
                                                    <button class="btn btn-primary btn-block" type="submit"
                                                        name="false">Unblock</button>
                                                </form>
                                            </td>
                                            {{else}}
                                            <td>
                                                <form action="/admin/owners/edit?id={{this._id}}" method="post">
                                                    <button class="btn btn-warning  btn-block" type="submit"
                                                        name="true">Block</button>
                                                </form>
                                            </td>
                                            {{/if}}
                                            <td>
                                                <a href="#" class="btn btn-primary btn-block">view</a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- End of Content Wrapper -->

    </div>


</body>

</html>


{{>userFooter}}