{{>userHeader}}
{{>navBar2}}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Booking History</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">


                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Hotel</th>
                                            <th>Check-in/Check-out</th>
                                            <th>Amount</th>
                                            <th>No of days</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each booking}}
                                        <tr>
                                            <td>{{this.hotel.name}}</td>
                                            <td>
                                                <p>Check-in: {{this.checkInDate}}</p>
                                                <p>Check-out: {{this.checkOutDate}}</p>
                                            </td>
                                            <td>{{this.paymentAmount}}</td>
                                            <td>{{this.totalDays}}</td>
                                            <td>
                                                <div class="action-buttons" data-booking-id="{{this._id}}"
                                                    data-check-in-date="{{this.checkInDate}}"
                                                    data-check-out-date="{{this.checkOutDate}}">
                                                    {{#if this.cancel}}
                                                    <p class="text-danger">You have cancelled this booking.<i
                                                            class="fa-solid fa-ban" style="color: #eb0f0f;"></i></p>
                                                    {{else}}
                                                    <button class="btn btn-primary btn-cancel"
                                                        onclick="cancellation('{{this._id}}', '{{this.room.Cancellation}}')">
                                                        Cancellation
                                                    </button>
                                                    {{#if this.report}}
                                                    <p class="text-warning">{{this.adminResponse}}</p>
                                                    {{else}}
                                                    <button class="btn btn-danger btn-report">Report</button>
                                                    {{/if}}
                                                    {{/if}}
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Report -->
    <div class="modal" id="ratingModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Report</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Your Report:</p>
                    <textarea class="form-control" rows="5" id="reportText"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submitReview" data-booking-id="">Submit</button>
                </div>
            </div>
        </div>
    </div>
    {{>userSiteFooter}}
    {{>userFooter}}
</body>

<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

{{!-- CANCELLATION --}}
<script>
    async function cancellation(bookingId, roomCancellation) {

        try {
            alertify.confirm(roomCancellation,
                function () {
                    alertify.success('Ok');
                    handleCancellation(bookingId, roomCancellation)
                },
                function () {
                    alertify.error('Cancel');
                });

        } catch (error) {
            console.error('Error fetching cancellation policy:', error);
        }
    }

    async function handleCancellation(bookingId, roomCancellation) {
        try {
            const response = await axios.post('/cancellation', {
                bookingId, roomCancellation
            });
            if (response.status == 200) {
                Swal.fire({
                    title: 'Cancellation Successful',
                    text: 'Your booking has been canceled the amout will be added to your wallet',
                    icon: 'success',
                });
                window.location.reload()
            }
        } catch (error) {
            console.log(error)
            if (error.response.status == 401) {
                Swal.fire({
                    title: 'Cancellation Sucessful',
                    text: 'According to the Cancellation policy the amout will not be added to the wallet.',
                    icon: 'success',
                });
            }
            else {
                Swal.fire({
                    title: 'Error',
                    text: 'Failed to cancel the booking. Please try again later.',
                    icon: 'error',
                });
            }

        }
    }
</script>

{{!-- CHECK BOOKING DATE IS OVER OR NOT FOR DISPLAYING THER DIFFRENT BUTTONS --}}
<script>
    $(document).ready(function () {
        // DataTables initialization
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "pageLength": 10
        });

        // Function to check if the check-in date is not over
        function isCheckInNotOver(checkInDate) {
            const now = new Date();
            const checkIn = new Date(checkInDate);
            return now < checkIn;
        }

        // Function to check if the checkout date is over
        function isCheckOutOver(checkOutDate) {
            const now = new Date();
            const checkOut = new Date(checkOutDate);
            return now >= checkOut;
        }

        // Loop through each row to update the action buttons
        $('.action-buttons').each(function () {
            const checkInDate = $(this).data('check-in-date');
            const checkOutDate = $(this).data('check-out-date');
            const checkInNotOver = isCheckInNotOver(checkInDate);
            const checkOutOver = isCheckOutOver(checkOutDate);

            if (checkInNotOver) {
                $(this).find('.btn-cancel').show();
            } else {
                $(this).find('.btn-cancel').hide();
            }

            if (checkOutOver) {
                $(this).find('.btn-report').show(); // Set visibility to show
            } else {
                $(this).find('.btn-report').hide(); // Set visibility to hide
            }
        });

        // Bind click event for "Report" button
        $('.btn-report').on('click', function () {
            const bookingId = $(this).closest('.action-buttons').data('booking-id');
            $('#ratingModal').modal('show').find('#submitReview').data('booking-id', bookingId);
            // Set the data-booking-id attribute value for the "Submit" button
        });

        $('.btn-secondary').on('click', function () {
            $('#ratingModal').modal('hide');
        });

        $('#submitReview').on('click', function () {
            const reportText = $('#reportText').val();
            const bookingId = $(this).data('booking-id'); // Retrieve the booking ID from the "Submit" button's data attribute

            const reviewData = {
                reportText: reportText,
                bookingId: bookingId // Use the retrieved booking ID in the review data
            };

            const serverEndpoint = '/hotel/report';

            axios.post(serverEndpoint, reviewData)
                .then(function (response) {
                    if (response.status === 200) {
                        Notification()
                        function Notification() {
                            Swal.fire({
                                position: "center",
                                icon: "success",
                                title: "Report Submited successfully",
                                showConfirmButton: true,
                                confirmButtonColor: "#00A300",
                            });
                        }
                        window.location.href = '/bookinghistory'
                    }
                    console.log(response.data);
                    $('#ratingModal').modal('hide');
                })
                .catch(function (error) {
                    console.error(error);
                    alertify.alert("Something went wrong", function () {
                        alertify.message('OK');
                    });

                    $('#ratingModal').modal('hide');
                });
        });

    });
</script>