{{>userHeader}}
{{>userNavbar}}


<div class="super_container">
    <!-- Home -->
    <div class="home">
        <div class="home_slider_container">
            <div class="owl-carousel owl-theme home_slider">
                <!-- Slide -->
                {{#each banner}}
                <div class="slide">
                    {{#each this.images.[0]}}
                    <div class="background_image" style="background-image:url({{this.url}})"></div>
                    {{/each}}
                    <div class="home_container">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="home_content text-center">
                                        <div class="home_title"
                                            style="font-size: 50px;color: rgba(247, 249, 251, 0.73);">
                                            {{this.name}}</div>
                                        <a href="/hotel/home?id={{this._id}}" class="btn btn-primary">Check
                                            Availability</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <!-- Hotels -->


    {{#each hotel}}
    <section class="py-5 bg-light" id="next">
        <div class="container-fluid col-lg-10">
            <div class="row align-items-center">
                <div class="p-3 text-center room-info">
                    <h2>{{this.name}}</h2>
                    <span class="text-uppercase letter-spacing-1">Rooms Start from {{this.startingPrice}} / per
                        night</span>

                </div>
                <div class="col-md-6 order-md-2 order-lg-1" data-aos="fade-up">
                    <p class="mb-4">{{this.description}}</p>
                    <div class="col-md-6 col-lg-8 align-self-end">
                        <a href="/hotel/home?id={{this._id}}" class="btn btn-primary btn-block text-white">Check
                            Availability</a>
                    </div>
                </div>
                <div class="col-md-6 order-md-1 order-lg-2" data-aos="fade-up">
                    <div class="home">
                        <div class="home_slider_container">
                            <div class="owl-carousel owl-theme home_slider">
                                {{#each this.images}}
                                <div class="slide" style="height: 80vh;">
                                    <div class="background_image"
                                        style="opacity: unset; background-image:url({{this.url}})"></div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/each}}




    <!-- End Hotels -->

    <!-- Booking -->

    <div class="booking">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="booking_title text-center">
                        <h2>Book a room</h2>
                    </div>

                    <!-- Booking Slider -->
                    <div class="booking_slider_container">
                        <div class="owl-carousel owl-theme booking_slider">

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_1.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Family Room</a></div>
                            </div>

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_2.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Deluxe Room</a></div>
                            </div>

                            <!-- Slide -->
                            <div class="booking_item">
                                <div class="background_image" style="background-image:url(images/booking_3.jpg)">
                                </div>
                                <div class="booking_overlay trans_200"></div>
                                <div class="booking_price">$120/Night</div>
                                <div class="booking_link"><a href="booking.html">Single Room</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>userSiteFooter}}
{{>userFooter}}