{{>userHeader}}
{{>navBar2}}

<style>
    .form-control {
        background-color: #f8f9fa;
        border-color: #ced4da;
        color: #495057;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .container-fluid {
        background-color: #f8f9fa;
    }

    #map {
        height: 400px;
        margin-top: 20px;
    }

    .align-form-elements {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .rating-stars {
        font-size: 30px;
    }

    .star {
        cursor: pointer;
        color: #ccc;
    }

    .star.active {
        color: gold;
    }

    .testimonials {
        /* Adjust the value as needed */
        max-height: 700px;
        /* Adjust the value as needed */
        overflow: hidden;
        position: relative;
    }

    .testimonial_text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* Adjust the number of lines to be shown */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Add cursor pointer for the tooltip trigger */
    .tooltip-trigger {
        cursor: pointer;
    }
</style>

<!-- HOTEL -->
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row m-5 py-5">
        <div class="col-lg-5 order-lg-2">
            <!-- Check-in form -->
            <div class="col-md-8 offset-md-2" data-aos="fade-up">
                <form id="checkin" class="align-form-elements mb-5">
                    <!-- Form inputs -->
                    <div class="form-group">
                        <label for="checkin">Check-in Date</label>
                        <input type="date" class="form-control" id="checkin" name="checkIn" required>
                        <span class="text-danger error-msg" id="checkInError"></span>
                    </div>
                    <div class="form-group">
                        <label for="checkout">Check-out Date</label>
                        <input type="date" class="form-control" id="checkout" name="checkOut" required>
                        <span class="text-danger error-msg" id="checkOutError"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
                {{#each hotel.amenities}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
        <div class="col-lg-7 order-lg-1">
            <div class="super_container" style="height: 60vh;">
                <!-- Hotel image slider -->
                <div class="home">
                    <div class="home_slider_container">
                        <div class="owl-carousel owl-theme home_slider">
                            {{#each hotel.images}}
                            <div class="slide">
                                <img src="{{this.url}}" alt="Hotel Image">
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="home_title h1 my-4">{{hotel.name}}</div>
            <div>
                <h4 style="display: inline;">Rating:</h4>
                {{#times ratings}}
                <i class="fa-solid fa-star" style="color: gold;"></i>
                {{/times}}
            </div>
            <p class="mb-4">{{hotel.description}}</p>

            <h4 class="my-4">Location: {{hotel.address}}</h4>
            <button id="navigateBtn" class="btn btn-primary">Navigate <i
                    class="fas fa-map-marker-alt ml-2"></i></button>
            {{#if reviewExist}}
            <button class="btn btn-primary" type="button" id="editReviewBtn" data-rating="{{reviewExist.rating}}">Edit
                the Review</button>
            {{else}}
            <button class="btn btn-primary" id="writeReviewBtn">Write a Review</button>
            {{/if}}
        </div>
    </div>
</div>
<!-- END HOTELS -->

{{!-- review--}}
<div class="text-center">
    <h1>Review</h1>
</div>
<div class="testimonials">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/testimonials.jpg"
        data-speed="0.8"></div>
    <div class="testimonials_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="testimonials_slider_container">

                    <!-- Testimonials Slider -->
                    <div class="owl-carousel owl-theme test_slider">

                        <!-- Slide -->
                        {{#each reviews}}
                        <div class="test_slider_item text-center">
                            {{#times rating}}
                            <div style="display: inline;">
                                <i class="fa-solid fa-star" style="color: gold;"></i>
                            </div>
                            {{/times}}
                            <div class="testimonial_text tooltip-trigger" data-toggle="tooltip" data-placement="top"
                                title="{{this.review}}">
                                <p>{{this.review}}</p>
                            </div>
                            <div class="testimonial_author">{{this.user.name}}</div>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- end review--}}


{{!-- ROOMs --}}
<div class="super_container my-5" style="margin-top: 100px;">
    <!-- Rooms section -->
    {{#each rooms}}
    <div class="container container1" style="margin-top: 50px;">
        <!-- Room image slider -->
        <div class="slider-container1">
            <div class="slider1">
                <div class="owl-carousel owl-theme home_slider">
                    {{#each this.images}}
                    <div class="slide"
                        style="height: 30vh; background-image: url({{this.url}}); background-size: cover;"></div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="description-container1">
            <h5 class="bed-type">Bed Type: {{this.bed}}</h5>
            <p class="amenities">Amenities: {{this.amenities}}</p>
            <p class="cancellation">Cancellation: {{this.Cancellation}}</p>
        </div>

        <div class="booking-container1 d-flex align-items-center">
            {{#if discountPrice}}
            <div class="OfferTagstyles__PercentageOffWrapperDiv-sc-16zl30v-12 eeUure mb-3">{{discount}}% off</div>
            <div class="mb-3">
                <span class="price text-danger"><del>RS {{this.price}}</del></span>
                <span class="price text-success">now at {{this.discountPrice}}</span>
            </div>
            {{else}}
            <h5 class="price">RS {{this.price}}</h5>
            {{/if}} <a href="/hotel/room?id={{this._id}}" class="btn btn-primary btn-sm">Check Availability <i
                    class="fas fa-calendar-alt ml-2"></i></a>
        </div>
    </div>
    {{/each}}
</div>
{{!-- END ROOMS --}}

<!-- Review Modal POPUP-->
<div class="modal" id="reviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Write a Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Rate the hotel:</p>
                <div class="rating-stars">
                    <i class="fa-solid fa-star star" data-rating="1"></i>
                    <i class="fa-solid fa-star star" data-rating="2"></i>
                    <i class="fa-solid fa-star star" data-rating="3"></i>
                    <i class="fa-solid fa-star star" data-rating="4"></i>
                    <i class="fa-solid fa-star star" data-rating="5"></i>
                </div>
                <p>Your review:</p>
                <textarea class="form-control" rows="5" id="reviewText" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitReview">Submit</button>
            </div>
        </div>
    </div>
</div>

{{!-- EDIT REVIEW POPUP --}}
<div class="modal" id="editReviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Rate the hotel:</p>
                <div class="rating-stars">
                    <i class="fa-solid fa-star star" data-rating="1"></i>
                    <i class="fa-solid fa-star star" data-rating="2"></i>
                    <i class="fa-solid fa-star star" data-rating="3"></i>
                    <i class="fa-solid fa-star star" data-rating="4"></i>
                    <i class="fa-solid fa-star star" data-rating="5"></i>
                </div>
                <p>Your review:</p>
                <textarea class="form-control" rows="5" id="editReviewText" required>{{reviewEdit.review}}</textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitEditReview">Submit</button>
            </div>
        </div>
    </div>
</div>
{{!-- END OF EDIT REVIEW POPUP --}}

<!-- Mapbox map container -->
<div id="map"></div>

{{>userSiteFooter}}
{{>userFooter}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{{!-- Toottip --}}
<script>
    // Initialize Bootstrap tooltips
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


{{!-- REVIEW --}}
<script>

    let selectedRating = 0;

    // Function to update the star colors based on the selected rating
    function updateStarColors() {
        const stars = document.querySelectorAll('.star');
        stars.forEach((star, index) => {
            if (index < selectedRating) {
                star.classList.add('active');
            } else {
                star.classList.remove('active');
            }
        });
    }

    // Function to handle star click event
    function handleStarClick(event) {
        const clickedRating = parseInt(event.target.getAttribute('data-rating'));
        if (selectedRating === clickedRating) {
            selectedRating = 0; // Clear rating if the same star is clicked again
        } else {
            selectedRating = clickedRating;
        }
        updateStarColors();
    }

    // Add event listeners to the star elements
    const stars = document.querySelectorAll('.star');
    stars.forEach(star => {
        star.addEventListener('click', handleStarClick);
    });

    $('.btn-secondary').on('click', function () {
        $('#reviewModal').modal('hide');
    });

    // Function to submit the review with the selected rating and review text
    async function submitReview() {
        const reviewText = document.getElementById('reviewText').value;
        // Send the rating and review text to the server using axios POST request
        try {
            const response = await axios.post('/hotel/review', {
                rating: selectedRating,
                reviewText: reviewText
            });

            if (response.status === 200) {
                successNotification()
                function successNotification() {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Review submitted successfully",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                    document.getElementById('reviewModal').style.display = 'none';
                }
            } else {
                alertify.alert("Failed to submit review", function () {
                    alertify.message('OK');
                });
            }
        } catch (error) {
            console.log(error);
            alertify.alert("Something went wrong, please try again later", function () {
                alertify.message('OK');
            });
        }
    }

    // Add event listener to the submit review button in the review modal
    const submitReviewBtn = document.getElementById('submitReview')
    if (submitReviewBtn) {
        submitReviewBtn.addEventListener('click', submitReview);
    }


    async function review() {
        event.preventDefault()
        try {
            const response = await axios.get('/hotel/review', {
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.status === 200) {
                reviewModal.style.display = 'block'
                //submitReview()
            }
        } catch (error) {

            if (error.response.status == 401) {
                const errors = error.response.data.error;
                alertify.alert(errors, function () {
                    alertify.message('OK');
                });
            } else {
                alertify.alert("Something went wrong", function () {
                    alertify.message('OK');
                });
            }
        }
    }
    const writeReviewBtn = document.getElementById('writeReviewBtn')
    if (writeReviewBtn) {
        writeReviewBtn.addEventListener('click', review);
    }
</script>

<script>

    let selectedEditRating = 0

    function showEditReviewModal() {
        $('#editReviewModal').modal('show');
    }

    // Add event listener to the "Edit Review" button
    const editReviewBtn = document.getElementById('editReviewBtn')
    if (editReviewBtn) {
        editReviewBtn.addEventListener('click', showEditReviewModal);
    }



    // Add event listeners to the star elements
    const editStars = document.querySelectorAll('.star');
    editStars.forEach(star => {
        star.addEventListener('click', handleEditStarClick);
    });

    // Function to update the star colors based on the selected rating for edit review
    function updateEditStarColors() {
        const editStars = document.querySelectorAll('#editReviewModal .star');
        editStars.forEach((star, index) => {
            if (index < selectedEditRating) {
                star.classList.add('active');
            } else {
                star.classList.remove('active');
            }
        });
    }

    // Function to handle star click event for edit review
    function handleEditStarClick(event) {
        const clickedRating = parseInt(event.target.getAttribute('data-rating'));
        if (selectedEditRating === clickedRating) {
            selectedEditRating = 0;
        } else {
            selectedEditRating = clickedRating;
        }
        updateEditStarColors();
    }


    // Function to handle the "Submit" button click for edit review
    async function handleEditReviewSubmit() {
        const editedRating = selectedEditRating; // Get the edited rating from the global variable or wherever you have stored it.
        const editedReviewText = document.getElementById('editReviewText').value;
        console.log(editedRating, editedReviewText)
        try {
            // Send the updated review data to the server using an axios PUT request
            const response = await axios.put('/review/edit', {
                id: "{{reviewEdit._id}}",
                rating: editedRating,
                reviewText: editedReviewText
            });

            if (response.status === 200) {
                // If the review update is successful, close the modal and update the frontend as needed.
                notification()
                function notification() {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Review Edited successfully",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                    $('#editReviewModal').modal('hide');
                }
            }
        } catch (error) {
            alertify.alert("Something went wrong please try again later", function () {
                alertify.message('OK')
            })
        }
    }

    // Add event listener to the "Submit" button in the "Edit Review" modal
    document.getElementById('submitEditReview').addEventListener('click', handleEditReviewSubmit);

</script>





{{!-- MAP --}}
<script>
    // Function to get user's current location
    function getUserLocation() {
        return new Promise((resolve, reject) => {
            navigator.geolocation.getCurrentPosition(resolve, reject);
        });
    }

    // Handle form submission
    const handleSubmit = async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);

        try {
            const response = await axios.post('/hotel/checkin', Object.fromEntries(formData));
            resetError()
            if (response.status === 200) {
                document.body.innerHTML = response.data;
            }

        } catch (error) {
            if (error.response.status == 400) {

                const errors = error.response.data.error;
                Object.keys(errors).forEach((key) => {
                    let element = document.getElementById(key).textContent = errors[key];
                })
            }
            else if (error.response.status === 404) {
                alertify.alert("The rooms are not available for the given date", function () {
                    alertify.message('OK');
                });
            } else {
                alertify.alert("Something went wrong, please try again later", function () {
                    alertify.message('OK');
                });
            }
        }
    };

    // Add event listener to the form
    document.getElementById('checkin').addEventListener('submit', handleSubmit);

    // Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXNsYW0yMiIsImEiOiJjbGs1ZHZqejYwZ3RhM2RudDQ0cmE1NDJuIn0.8MByk6wQU2kWJ60t4K0zIg';

    // Initialize the map
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 14,
        center: [{{ hotel.longitude }}, {{ hotel.latitude }}]
    });

    // Add a marker for the hotel location
    new mapboxgl.Marker().setLngLat([{{ hotel.longitude }}, {{ hotel.latitude }}]).addTo(map);

    // Event listener for the navigate button
    // Event listener for the navigate button
    document.getElementById('navigateBtn').addEventListener('click', async () => {
        try {
            // Get user's current location
            const position = await getUserLocation();
            const userLatitude = position.coords.latitude;
            const userLongitude = position.coords.longitude;

            // Make a request to Mapbox Directions API
            const response = await axios.get(`https://api.mapbox.com/directions/v5/mapbox/driving/${userLongitude},${userLatitude};{{hotel.longitude}},{{hotel.latitude}}?access_token=${mapboxgl.accessToken}`);
            console.log(response.data)

            // Retrieve the navigation route
            const route = response.data.routes[0];
            const navigationPath = route.geometry

            function decodePolyline(polyline) {
                const poly = [];
                let index = 0,
                    len = polyline.length;
                let lat = 0,
                    lng = 0;

                while (index < len) {
                    let b, shift = 0,
                        result = 0;

                    do {
                        b = polyline.charAt(index++).charCodeAt(0) - 63;
                        result |= (b & 0x1f) << shift;
                        shift += 5;
                    } while (b >= 0x20);

                    let dlat = (result & 1) != 0 ? ~(result >> 1) : result >> 1;
                    lat += dlat;

                    shift = 0;
                    result = 0;

                    do {
                        b = polyline.charAt(index++).charCodeAt(0) - 63;
                        result |= (b & 0x1f) << shift;
                        shift += 5;
                    } while (b >= 0x20);

                    let dlng = (result & 1) != 0 ? ~(result >> 1) : result >> 1;
                    lng += dlng;

                    poly.push([lng / 1e5, lat / 1e5]);
                }

                return poly;
            }
            if (navigationPath && navigationPath.length > 0) {
                // Decode the polyline
                const decodedPath = decodePolyline(navigationPath);

                // Create a GeoJSON feature with the navigation path
                const navigationFeature = {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                        type: 'LineString',
                        coordinates: decodedPath,
                    },
                };

                // Remove existing navigation source and layer if they exist
                if (map.getSource('navigation')) {
                    map.removeLayer('navigation');
                    map.removeSource('navigation');
                }

                // Add the navigation path to the map as a GeoJSON source and layer
                map.addSource('navigation', {
                    type: 'geojson',
                    data: navigationFeature,
                });

                map.addLayer({
                    id: 'navigation',
                    type: 'line',
                    source: 'navigation',
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round',
                    },
                    paint: {
                        'line-color': '#0074D9',
                        'line-width': 3,
                    },
                });

                // Fit the map to display the entire navigation path
                const bounds = new mapboxgl.LngLatBounds();
                decodedPath.forEach((point) => bounds.extend(point));
                map.fitBounds(bounds, { padding: 50 });
            } else {
                console.log('Navigation path is undefined or empty.');
                alert('Unable to retrieve navigation path. Please try again.');
            }
        } catch (error) {
            console.log('Error occurred while getting user location or retrieving navigation:', error);
            alert(
                'Unable to get user location or retrieve navigation. Please make sure location access is allowed and try again.'
            );
        }
    });

    function resetError() {
        const errorElements = document.querySelectorAll(".error-msg");
        errorElements.forEach((element) => {
            element.textContent = "";
        });
    }
</script>