{{>userHeader}}
{{>navBar2}}

<style>
    .form-control {
        background-color: #f8f9fa;
        border-color: #ced4da;
        color: #495057;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .container-fluid {
        margin-top: 100px;
        background-color: #f8f9fa;
    }

    .row.m-5.py-5 {
        align-items: center;
    }

    .col-lg-5.order-lg-2 {
        display: flex;
        align-items: center;
    }

    .col-md-8.offset-md-2 {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .col-lg-7.order-lg-1 {
        text-align: center;
    }

    .home_slider_container {
        height: 60vh;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .mb-5 {
        margin-bottom: 3rem;
    }

    .amenities-icon {
        font-size: 24px;
        color: #555;
        margin-right: 5px;
    }
</style>

<!-- Rooms -->
<div class="container-fluid" style="margin-top: 100px;">
    <div class="row m-5 py-5">
        <div class="col-lg-5 order-lg-2">
            <div class="col-md-8 offset-md-2 form-container" data-aos="fade-up">
                <form id="checkin" class="align-form-elements">
                    <div class="form-group">
                        <label for="checkin">Check-in Date</label>
                        <input type="date" class="form-control" id="checkin" name="checkIn" required>
                        <span class="text-danger error-msg" id="checkInError"></span>
                    </div>
                    <div class="form-group">
                        <label for="checkout">Check-out Date</label>
                        <input type="date" class="form-control" id="checkout" name="checkOut" required>
                        <span class="text-danger error-msg" id="checkOutError"></span>
                    </div>
                    <div class="form-group">
                        <label for="adults">Adults</label>
                        <input type="number" class="form-control" id="adults" name="adults" required>
                        <span class="text-danger error-msg" id="adultError"></span>
                    </div>
                    <div class="form-group">
                        <label for="kids">Kids</label>
                        <input type="number" class="form-control" id="kids" name="kids" required>
                        <span class="text-danger error-msg" id="kidsError"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Check</button>
                    <button type="button" class="btn btn-primary" id="book">Book</button>
                </form>
            </div>
        </div>
        <div class="col-lg-7 order-lg-1">
            <div class="super_container" style="height: 60vh;">
                <div class="home_slider_container">
                    <div class="owl-carousel owl-theme home_slider">
                        {{#each room.images}}
                        <div class="slide">
                            <div class="background_image"
                                style="opacity: unset; background-size: cover; background-image:url({{this.url}});">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <p>Max no of Adults: {{room.adults}}</p>
            <p>Max no of Kids: {{room.childrents}}</p>
            <p class="mt-3">Per night Rs: {{room.price}}</p>
            <p class="mb-5">{{room.description}}</p>
            <p>
            <h2>Amenities</h2>{{room.amenities}}
            </p>
        </div>
    </div>
</div>
<!-- END HOTELS -->

{{>userSiteFooter}}
{{>userFooter}}

{{!-- CHECKIN --}}
<script>
    const handleSubmit = async (event) => {
        event.preventDefault();

        const formData = new FormData(event.target);
        resetError()

        try {
            const response = await axios.post('/room/checkin', Object.fromEntries(formData))
            if (response.status === 200) {
                alertify.alert("Rooms are available", function () {
                    alertify.message('OK');
                });
            }

        } catch (error) {
            console.log(error)
            if (error.response.status == 400) {
                alert("ok")
                const errors = error.response.data.error;
                Object.keys(errors).forEach((key) => {
                    let element = document.getElementById(key).textContent = errors[key];
                });
            }
            else if (error.response.status == 404) {
                const err = error.response.data.message;
                alertify.alert(err, function () {
                    alertify.message('OK');
                });
            }
            else {
                alertify.alert("Something went wrong, please try again later", function () {
                    alertify.message('OK');
                });
            }
        }
    };
    document.getElementById('checkin').addEventListener('submit', handleSubmit);

    function resetError() {
        const errorElements = document.querySelectorAll(".error-msg");
        errorElements.forEach((element) => {
            element.textContent = "";
        });
    }
</script>


{{!-- BOOKING --}}
<script>
    const handleBook = async (event) => {
        event.preventDefault();

        const formData = new FormData(document.getElementById('checkin'));
        resetError()

        try {
            const response = await axios.post('/room/book', Object.fromEntries(formData));
            if (response.status === 200) {
                Notification()
                function Notification() {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Booked Successfully",
                        showConfirmButton: true,
                        confirmButtonColor: "#00A300",
                    });
                }
            }
        } catch (error) {
            if (error.response.status == 400) {

                const errors = error.response.data.error;
                alert(error)
                Object.keys(errors).forEach((key) => {
                    let element = document.getElementById(key + 'Error');
                    if (element) {
                        element.textContent = errors[key];
                    }
                });
            }
            else if (error.response.status == 404) {
                const err = error.response.data.message;
                alertify.alert(err, function () {
                    alertify.message('OK');
                });
            }
            else {
                alertify.alert("Something went wrong, please try again later", function () {
                    alertify.message('OK');
                });
            }
        }
    };
    document.getElementById('book').addEventListener('click', handleBook);

    function resetError() {
        const errorElements = document.querySelectorAll(".error-msg");
        errorElements.forEach((element) => {
            element.textContent = "";
        });
    }

</script>









{{>userFooter}}